hb.py
a_test_page.py
api_key.txt
Sora.txt
prompts.txt
Architecture Consistancy.png
Assets/*.json
# the md files used for results
*.md
# utility scripts folder 
utility_scripts/
# ignore vscode settings 
.vscode/
# ignore pycache
__pycache__/
.venv